---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {%- if site.categories.summary.size > 0 -%}
        <div class="post-list-container">
            <h2 class="post-list-heading">Session Summaries</h2>
            <p class="post-list-description">Overview of events in each session</p>
            <ul class="post-list">
                {%- for post in site.categories.summary -%}
                    {%- assign post_index = site.categories.summary.size | minus: forloop.index | plus: 1 %}
                    <li>
                        <h3 style="margin-bottom: 0">
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title | escape }}
                            </a>
                        </h3>

                        <span class="post-meta">Session {{ post_index }} — {{ post.date | date: date_format }}</span>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}

        {%- if site.categories.henri.size > 0 -%}
        <div class="post-list-container">
            <h2 class="post-list-heading">Henri's Journal</h2>
            <p class="post-list-description">Journal entries from our own Henri Shortfellow</p>
            <ul class="post-list">
                {%- for post in site.categories.henri -%}
                    <li>
                        <h3 style="margin-bottom: 0">
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title | escape }}
                            </a>
                        </h3>

                        <span class="post-meta">{{ post.iw_date }} • {{ post.date | date: date_format }}</span>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
    </div>
</div>
